/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

/* BODY */
body {
    background-color: #f6f8f9;
}

/* COMMON */
.container {
    background-color: white;
    width: 70%;
    margin: auto;
    padding-left: 3em;
    border-radius: 0.2em;
}

.pad {
    padding: 2em;
    padding-left: 3em;
}

/* HEADER */
header {
    background-color: white;
    width: 100%;
    margin-bottom: 2em;
}

#header img {
    vertical-align: middle;
    padding-left: 1em;
    margin: 0.7em 0;
}

#titolo {
    display: inline-block;
    color: black;
    vertical-align: middle;
}

/* NAV */
#nav {
    margin-bottom: 0.1em;
    padding: 0.5em 0;
}

.button {
    border: 0.1em solid #dbdfe2;
    padding: 0.5em 1em;
    font-size: x-small;
    border-radius: 0.5em;
}

#add-task {
    background-color: #47adf1;
    color: white;
}

#add-section {
    background-color: white;
    color: #dbdfe2;
}

/* MAIN */
ul {
    list-style: none;
    color: #444851;
}

h3 {
    margin-top: 1em;
}
/* marker e colori marker */
.mark {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-small;
    width: 1.5em;
    text-align: center;
    margin: 1em;
    margin-left: 0.3em;
}

.check {
    color: #64c0a9;
    border-color: #64c0a9;
}

.cross {
    color: #eb5952;
    border-color:#eb5952;
}

/* categorie e colori categorie */
.categoria {
    display: inline-block;
    padding: 0.6em;
    border-radius: 1em;
    font-size: x-small;
    color: white;
}

.editorial {
    background-color: #45abea;
}

.q1goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}